*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
body{
    background-image: linear-gradient(45deg, rgb(12, 68, 63), blue);
    display: flex;
    height: 100vh;
    width: 100vw;
    min-width: 150px;
    padding: 0%;
    max-height: 100%;
    max-width: 100%;
}
img.lado{
    float: right;
    display: flex;
}
img.logo{
    width: 80%;
    min-width: 50;
    max-width: 780px;
}
article.videos{
    min-width: 50px;
    max-width: 780px;
    width: 90%;
    height: 90%;
}  
h1.formato{
    color: rgb(22, 18, 245);
    font-size: larger;
}
h2.cores{
    color: darkblue;
}
main{
    text-align: justify;
    background-color: white;
    width: 90%;
    min-width: 150px;
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    border-radius: 5px;
}